<div>
    <p class="maintitle">Monthly Timesheet</p>
  </div>

<section class="timesheet-navigation">
    <div class="nav">
      <div class="container-fluid nopaddingmail">
       <div class="tabbable">
        <ul class="nav nav-tabs" data-tabs="tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#incoming">Current</a></li>
        <li><a data-toggle="tab" href="#sentmsg">Previous</a></li>
        <li><a data-toggle="tab" href="#sentmsg">Not Sent</a></li>
        <li><a data-toggle="tab" href="#sentmsg">Wait for Accept</a></li>
        <li><a data-toggle="tab" href="#sentmsg">Accepted</a></li>
        <li><a data-toggle="tab" href="#sentmsg">Rejected</a></li>
        </ul>
       
        </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="incoming">
            </div>
        </div>
    </div>
</section>


<section class="timesheet-buttons">

  <input type="date" id="theDate">
  
  <div class="today-timesheet">
    <button type="button" class="newmsgb" (click)="openModal()">Today</button>
    <button type="button" class="add-task-timesheet" data-toggle="modal" data-target="#addTimesheet" >Add New Task</button>
  </div>
</section>

<section style="margin-top: -40px">
  
  <p class="picked-day">{{date}}</p>


  
    
</section>

<section>
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12 tab-title">
       <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-1">
            <div class="statustitle">Project</div>
           </div>
           <div class="col-md-2 col-sm-2 col-xs-1">
            <div class="statustitle">Project</div>
           </div>
           <div class="col-md-2 col-sm-2 col-xs-2">
             <div class="projectnametitle">Employee </div>
           </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="completiontitle">Date</div>
           </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="detailstitle">Start Date/End Date</div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <div class="detailstitle">Duration</div>
            </div>
             <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="detailstitle">Description</div>
            </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
              <div class="tsdelete-row"></div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    @if (timesheets.length > 0)
    {
    <h3>Total Time: {{ getTotalTime(timesheets) }}</h3>
    }
</section>


<section>
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="row timesheet-task-row">
        @for (datas of timesheets; track datas.id )
              {
          <div class="col-md-2 col-sm-2 col-xs-1">
            <div class="statustitle">{{ datas.projectName}}</div>
           </div>
           <div class="col-md-2 col-sm-2 col-xs-2">
            <a href="#" (click)="openTimesheetModal(datas.id,datas.employeeFirstName); $event.preventDefault();">
              {{ datas?.employeeFirstName || 'N/A' }}   {{datas.id}}
            </a> 
           </div>
           <div class="col-md-2 col-sm-2 col-xs-1" [hidden]="true">
            <div class="statustitle">{{ datas.employeeid}}</div>
           </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="completiontitle">{{datas.date}}</div>
           </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="detailstitle">{{datas.startTime}} / {{datas.endTime}}</div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <div class="detailstitle">{{datas.description}}</div>
            </div>
             <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="detailstitle">{{datas.email}}</div>
            </div>
             <div class="col-md-1 col-sm-1 col-xs-1">

              <div class="tsdelete-row">{{ datas.startTime?.toString()  | calculateHours: datas.endTime }} hours</div>
            </div>
          }
          </div>
        </div>
      </div>
    </div>  
</section>


<!-- Modal -->
<div #addTimesheet id="addTimesheet" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content timesheet">
      <div class="modal-header">
        <button type="button" class="close"  (click)="closeModal()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Task</h4>
      </div>
      <div class="modal-body">
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <p>Project</p>
                </div>
                <div class="col-md-9">
                  
                <select class="js-example-basic-single">
                  <option>Project1</option>
                  <option>Project2</option>
                  <option>Project3</option>
                  <option>Project4</option>
                  <option>Project5</option>
                </select>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p>Task</p>
                </div>
                <div class="col-md-9">
                  
                <select class="js-example-basic-single">
                  <option>Task1</option>
                  <option>Task2</option>
                  <option>Task3</option>
                  <option>Task4</option>
                  <option>Task5</option>
                </select>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p>Date</p>
                </div>
                <div class="col-md-9">
                  <input type="date">
                </div>
              </div>   <div class="row">
               

              <div class="row">
                <div class="col-md-3">
                  <p>Start Time</p>
                </div>
                <div class="col-md-9">
                  <input type="time" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p>End Time</p>
                </div>
                <div class="col-md-9">
                  <input type="time" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p>Description</p>
                </div>
                <div class="col-md-9">
                  <input type="text" class="timesheet-description"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                  
                   <div clas="actionbutton">
                  <p class="button-container"><button class="user-aciton"  (click)="addTimeSheet()"  >Add Timesheet</button></p>
                </div>  
                </div>
        
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
        
    <!-- Modal -->

  <div  #showTimesheet id="showTimesheet" class="modal fade fullscreen-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content timesheet">
      <div class="modal-header">
        <button type="button" class="close"  (click)="closeShowModal()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{selectedEmployeeName }} Timesheet</h4>
      </div>
      <div class="modal-body">
        
        <div class="container-fluid">
        

 


 <section>
  <div class="container-fluid">

      <div class="col-md-12 col-sm-12 col-xs-12 tab-title">
        <div class="row">
           <div class="col-md-2 col-sm-2 col-xs-1">
             <div class="statustitle">Project</div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1">
             <div class="statustitle">Project</div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="projectnametitle">Employee </div>
            </div>
             <div class="col-md-2 col-sm-2 col-xs-2">
               <div class="completiontitle">Date</div>
            </div>
             <div class="col-md-2 col-sm-2 col-xs-2">
               <div class="detailstitle">Start Date/End Date</div>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
               <div class="detailstitle">Duration</div>
             </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
               <div class="detailstitle">Description</div>
             </div>
              <div class="col-md-1 col-sm-1 col-xs-1">
               <div class="tsdelete-row"></div>
             </div>
           </div>
      
       </div>
     </div>  
     @if (timesheetsEmpId.length > 0)
     {
     <h3>Total Time: {{ getTotalTime(timesheetsEmpId) }}</h3>
     }
 </section>
 
 
 <section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row timesheet-task-row">
         @for (datas of timesheetsEmpId; track datas.id )
               {
           <div class="col-md-2 col-sm-2 col-xs-1">
             <div class="statustitle">    {{ datas.projectName ? datas.projectName : datas.id }}</div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="completiontitle">    {{ datas.employeeFirstName ? datas.employeeFirstName : datas.employeeid }}</div>
           </div>
             <div class="col-md-2 col-sm-2 col-xs-2">
               <div class="completiontitle">{{datas.date}}</div>
            </div>
             <div class="col-md-2 col-sm-2 col-xs-2">
               <div class="detailstitle">{{datas.startTime}} / {{datas.endTime}}</div>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
               <div class="detailstitle">{{datas.description}}</div>
             </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
               <div class="detailstitle">{{datas.email}}</div>
             </div>
              <div class="col-md-1 col-sm-1 col-xs-1">
 
               <div class="tsdelete-row">{{ datas.startTime?.toString()  | calculateHours: datas.endTime }} hours</div>
             </div>
           }
           </div>
         </div>
       </div>
     </div>  
 </section>
  
        </div>
      </div>
    </div>
  </div>
</div>
            
        
        
        